<templateSet group="spring">
  <template name="controller" value="@ApiOperation(value = &quot;用户修改密码&quot;, notes = &quot;用户修改密码&quot;, httpMethod = &quot;PUT&quot;)&#10;    @ApiImplicitParams({&#10;            @ApiImplicitParam(name = &quot;ChangePasswordVo&quot;, value = &quot;修改密码对象&quot;, required = true, paramType = &quot;body&quot;),&#10;    })&#10;    @ApiResponses({&#10;            @ApiResponse(code = 200, message = &quot;请求成功&quot;),&#10;    })&#10;    @MappingName(&quot;用户修改密码&quot;)&#10;    @PutMapping(&quot;info/changePassword&quot;)&#10;    public ResponseEntity infoChangePassword(HttpServletRequest request,@RequestBody @Validated @NotNull ChangePasswordVo changePasswordVo) {&#10;        Integer userId = jwtService.getUserId(request);&#10;        InfoVo info = userService.queryInfo(userId);&#10;        return ResponseGenerator.genOkResponse();&#10;    }" description="" toReformat="false" toShortenFQNames="true">
    <context>
      <option name="OTHER" value="true" />
    </context>
  </template>
  <template name="test" value="@Test&#10;void $METHOD_NAME$() {&#10;    soutv&#10;}" description="" toReformat="false" toShortenFQNames="true">
    <variable name="METHOD_NAME" expression="methodName()" defaultValue="" alwaysStopAt="true" />
    <context>
      <option name="OTHER" value="true" />
    </context>
  </template>
</templateSet>