<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yitihua3.exam.mapper.exam.ChoiceMapper">

    <resultMap type="com.yitihua3.exam.entity.exam.Choice" id="ChoiceMap">
        <result property="choiceId" column="choice_id" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="typeA" column="typeA" jdbcType="VARCHAR"/>
        <result property="typeB" column="typeB" jdbcType="VARCHAR"/>
        <result property="typeC" column="typeC" jdbcType="VARCHAR"/>
        <result property="typeD" column="typeD" jdbcType="VARCHAR"/>
        <result property="right" column="right" jdbcType="VARCHAR"/>
        <result property="score" column="score" jdbcType="INTEGER"/>
        <result property="subjectId" column="subject_id" jdbcType="INTEGER"/>
        <result property="chapterId" column="chapter_id" jdbcType="INTEGER"/>
        <result property="single" column="single" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="ChoiceMap">
        select
          *
        from kaoshi.choice
        where choice_id = #{choiceId}
    </select>

    <!--查询多选或单选（多选0单选1）-->
    <select id="queryBySingle" resultMap="ChoiceMap">
        select single from kaoshi.choice
        where choice_id = #{choiceId}
    </select>


    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="ChoiceMap">
        select choice_id, title, typeA, typeB, typeC, typeD, "right", score, subject_id, chapter_id, single
        from kaoshi.choice
        <where>
            <if test="choice_id != null">
                and choice_id = #{choiceId}
            </if>
            <if test="title != null and title != ''">
                and title = #{title}
            </if>
            <if test="typeA != null and typeA != ''">
                and typeA = #{typeA}
            </if>
            <if test="typeB != null and typeB != ''">
                and typeB = #{typeB}
            </if>
            <if test="typeC != null and typeC != ''">
                and typeC = #{typeC}
            </if>
            <if test="typeD != null and typeD != ''">
                and typeD = #{typeD}
            </if>
            <if test="right != null and right != ''">
                and right = #{right}
            </if>
            <if test="score != null">
                and score = #{score}
            </if>
            <if test="subject_id != null">
                and subject_id = #{subjectId}
            </if>
            <if test="chapter_id != null">
                and chapter_id = #{chapterId}
            </if>
            <if test="single != null">
                and single = #{single}
            </if>
        </where>
    </select>

    <!--考生显示题目-->
    <select id="queryAllTest" resultMap="ChoiceMap">
        select choice_id, title, typeA, typeB, typeC, typeD
        from kaoshi.choice
        <where>
            <if test="choice_id != null">
                and choice_id = #{choiceId}
            </if>
            <if test="score != null">
                and score = #{score}
            </if>
            <if test="title != null and title != ''">
                and title = #{title}
            </if>
            <if test="typeA != null and typeA != ''">
                and typeA = #{typeA}
            </if>
            <if test="typeB != null and typeB != ''">
                and typeB = #{typeB}
            </if>
            <if test="typeC != null and typeC != ''">
                and typeC = #{typeC}
            </if>
            <if test="typeD != null and typeD != ''">
                and typeD = #{typeD}
            </if>
        </where>
    </select>

    <!--查询某一成绩-->
    <select id="queryScoreById" resultMap="ChoiceMap">
        select score
        from kaoshi.choice
        where choice_id = #{choiceId}
    </select>

    <!--查询成绩-->
    <select id="queryScore" resultMap="ChoiceMap">
        select count(score)
        from kaoshi.choice
    </select>

    <!--查询某一答案-->
    <select id="queryRightById" resultMap="ChoiceMap">
        select 'right'
        from kaoshi.choice
         where choice_id = #{choiceId}
    </select>

    <!--查询答案-->
    <select id="queryRight" resultMap="ChoiceMap">
        select 'right'
        from kaoshi.choice
    </select>

    <!--查询所属类别-->
    <select id="querySubjectId" resultMap="ChoiceMap">
        select subject_id
        from kaoshi.choice
         where choice_id = #{choiceId}
    </select>

    <!--查询所属章节-->
    <select id="queryChapterId" resultMap="ChoiceMap">
        select chapter_id
        from kaoshi.choice
        where choice_id = #{choiceId}
    </select>


    <!--新增所有列-->
    <insert id="insert" keyProperty="choiceId" useGeneratedKeys="true">
        insert into kaoshi.choice(title, typeA, typeB, typeC, typeD, `right`, score, subject_id, chapter_id,single) values (#{title},#{typeA},#{typeB},#{typeC},#{typeD},#{right},#{score},#{subjectId},#{chapterId},#{single})
    </insert>


    <!--通过主键修改数据-->
    <update id="update">
        update kaoshi.choice
        <set>
            <if test="title != null and title != ''">
            title = #{title},
            </if>
            <if test="typeA != null and typeA != ''">
            typeA = #{typeA},
            </if>
            <if test="typeB != null and typeB != ''">
            typeB = #{typeB},
            </if>
            <if test="typeC != null and typeC != ''">
            typeC = #{typeC},
            </if>
            <if test="typeD != null and typeD != ''">
            typeD = #{typeD},
            </if>
            <if test="right != null and right != ''">
--             与关键字重名，用左单撇号``
            `right` = #{right},
            </if>
            <if test="score != null">
            score = #{score},
            </if>
            <if test="subjectId != null">
            subject_id = #{subjectId},
            </if>
            <if test="chapterId != null">
            chapter_id = #{chapterId},
            </if>
            <if test="single != null">
            single = #{single},
            </if>
        </set>
        where choice_id = #{choiceId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from kaoshi.choice where choice_id = #{choiceId}
    </delete>

</mapper>