<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yitihua3.exam.mapper.exam.EssayMapper">

    <resultMap type="com.yitihua3.exam.entity.exam.Essay" id="EssayMap">
        <result property="essayId" column="essay_id" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="score" column="score" jdbcType="INTEGER"/>
        <result property="reference" column="reference" jdbcType="VARCHAR"/>
        <result property="subjectId" column="subject_id" jdbcType="INTEGER"/>
        <result property="chapterId" column="chapter_id" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="EssayMap">
        select essay_id, title, score, reference, subject_id, chapter_id
        from kaoshi.essay
        where essay_id = #{essayId}
    </select>
    
    <!--查询某一得分-->
    <select id="queryScoreById" resultMap="EssayMap">
        select score
        from kaoshi.essay
        where essay_id = #{essayId}
    </select>
    
    <!--查询总得分-->
    <select id="queryScore" resultMap="EssayMap">
        select count(score)
        from kaoshi.essay
    </select>
    
    <!--查询某一答案-->
    <select id="queryReferenceById" resultMap="EssayMap">
        select reference
        from kaoshi.essay
        where essay_id = #{essayId}
    </select>
    
    <!--查询所有答案-->
    <select id="queryReference" resultMap="EssayMap">
        select reference
        from kaoshi.essay
    </select>
    
      <!--查询所属科目-->
    <select id="querySubjectById" resultMap="EssayMap">
        select subject_id
        from kaoshi.essay
        where essay_id = #{essayId}
    </select>

  <!--查询所属章节-->
    <select id="queryChapterById" resultMap="EssayMap">
        select chapter_id
        from kaoshi.essay
        where essay_id = #{essayId}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="EssayMap">
        select essay_id, title, score, reference, subject_id, chapter_id
        from kaoshi.essay
        <where>
            <if test="essay_id != null">
                and essay_id = #{essayId}
            </if>
            <if test="title != null and title != ''">
                and title = #{title}
            </if>
            <if test="score != null">
                and score = #{score}
            </if>
            <if test="reference != null and reference != ''">
                and reference = #{reference}
            </if>
            <if test="subject_id != null">
                and subject_id = #{subjectId}
            </if>
            <if test="chapter_id != null">
                and chapter_id = #{chapterId}
            </if>
        </where>
    </select>
    
       <!--列举考生试题-->
    <select id="queryAllTest" resultMap="EssayMap">
        select essay_id, title, score, reference
        from kaoshi.essay
        <where>
            <if test="essay_id != null">
                and essay_id = #{essayId}
            </if>
            <if test="title != null and title != ''">
                and title = #{title}
            </if>
            <if test="score != null">
                and score = #{score}
            </if>
            <if test="reference != null and reference != ''">
                and reference = #{reference}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="essayId" useGeneratedKeys="true">
        insert into kaoshi.essay(title, score, reference, subject_id, chapter_id)
        values (#{title}, #{score}, #{reference}, #{subjectId}, #{chapterId})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update kaoshi.essay
        <set>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="score != null">
                score = #{score},
            </if>
            <if test="reference != null and reference != ''">
                reference = #{reference},
            </if>
            <if test="subjectId != null">
                subject_id = #{subjectId},
            </if>
            <if test="chapterId != null">
                chapter_id = #{chapterId},
            </if>
        </set>
        where essay_id = #{essayId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from kaoshi.essay where essay_id = #{essayId}
    </delete>

</mapper>