<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yitihua3.exam.mapper.exam.JudgeMapper">

    <resultMap type="com.yitihua3.exam.entity.exam.Judge" id="JudgeMap">
        <result property="judgeId" column="judge_id" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="typeA" column="typeA" jdbcType="VARCHAR"/>
        <result property="typeB" column="typeB" jdbcType="VARCHAR"/>
        <result property="right" column="right" jdbcType="VARCHAR"/>
        <result property="score" column="score" jdbcType="INTEGER"/>
        <result property="subjectId" column="subject_id" jdbcType="INTEGER"/>
        <result property="chapterId" column="chapter_id" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="JudgeMap">
        select
          *
        from kaoshi.judge
        where judge_id = #{judgeId}
    </select>


    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="JudgeMap">
        select judge_id, title, typeA, typeB,`right`, score, subject_id, chapter_id
        from kaoshi.judge
        <where>
            <if test="judge_id != null">
                and judge_id = #{judgeId}
            </if>
            <if test="title != null and title != ''">
                and title = #{title}
            </if>
            <if test="typeA != null and typeA != ''">
                and typeA = #{typeA}
            </if>
            <if test="typeB != null and typeB != ''">
                and typeB = #{typeB}
            </if>
            <if test="right != null and right != ''">
                and right = #{right}
            </if>
            <if test="score != null">
                and score = #{score}
            </if>
            <if test="subject_id != null">
                and subject_id = #{subjectId}
            </if>
            <if test="chapter_id != null">
                and chapter_id = #{chapterId}
            </if>
        </where>
    </select>

    <!--考生显示题目-->
    <select id="queryAllTest" resultMap="JudgeMap">
        select judge_id, title, typeA, typeB
        from kaoshi.judge
        <where>
            <if test="judge_id != null">
                and judgeId = #{judgeId}
            </if>
            <if test="score != null">
                and score = #{score}
            </if>
            <if test="title != null and title != ''">
                and title = #{title}
            </if>
            <if test="typeA != null and typeA != ''">
                and typeA = #{typeA}
            </if>
            <if test="typeB != null and typeB != ''">
                and typeB = #{typeB}
            </if>
        </where>
    </select>

    <!--查询某一成绩-->
    <select id="queryScoreById" resultMap="JudgeMap">
        select score
        from kaoshi.judge
        where judge_id = #{judgeId}
    </select>

    <!--查询成绩-->
    <select id="queryScore" resultMap="JudgeMap">
        select count(score)
        from kaoshi.judge
    </select>

    <!--查询某一答案-->
    <select id="queryRightById" resultMap="JudgeMap">
        select "right"
        from kaoshi.judge
         where judge_id = #{judgeId}
    </select>

    <!--查询答案-->
    <select id="queryRight" resultMap="JudgeMap">
        select "right"
        from kaoshi.judge
    </select>

    <!--查询所属类别-->
    <select id="querySubjectById" resultMap="JudgeMap">
        select subject_id
        from kaoshi.judge
         where judge_id = #{judgeId}
    </select>

    <!--查询所属章节-->
    <select id="queryChapterById" resultMap="JudgeMap">
        select chapter_id
        from kaoshi.judge
        where judge_id = #{judgeId}
    </select>


    <!--新增所有列-->
    <insert id="insert" keyProperty="judgeId" useGeneratedKeys="true">
        insert into kaoshi.judge(title, typeA, typeB, `right`, score, subject_id, chapter_id) values (#{title},#{typeA},#{typeB},#{right},#{score},#{subjectId},#{chapterId})
    </insert>


    <!--通过主键修改数据-->
    <update id="update">
        update kaoshi.judge
        <set>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="typeA != null and typeA != ''">
                typeA = #{typeA},
            </if>
            <if test="typeB != null and typeB != ''">
                typeB = #{typeB},
            </if>
            <if test="right != null and right != ''">
                --             与关键字重名，用左单撇号``
                `right` = #{right},
            </if>
            <if test="score != null">
                score = #{score},
            </if>
            <if test="subjectId != null">
                subject_id = #{subjectId},
            </if>
            <if test="chapterId != null">
                chapter_id = #{chapterId},
            </if>
        </set>
        where judge_id = #{judgeId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from kaoshi.judge where judge_id = #{judgeId}
    </delete>

</mapper>