<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yitihua3.exam.mapper.user.StudentMapper">

    <resultMap type="com.yitihua3.exam.entity.user.Student" id="StudentMap">
        <result property="studentId" column="student_id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="VARCHAR"/>
        <result property="birthday" column="birthday" jdbcType="VARCHAR"/>
        <result property="classId" column="class_id" jdbcType="INTEGER"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="StudentMap">
        select
          student_id, name, sex, birthday, class_id, phone, email, user_id
        from kaoshi.student
        where student_id = #{studentId}
    </select>

    <!--按照用户id查询单个-->
    <select id="queryByUserId" resultMap="StudentMap">
        select
          student_id, name, sex, birthday, class_id, phone, email, user_id
        from kaoshi.student
        where user_id = #{userid}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="StudentMap">
        select
          student_id, name, sex, birthday, class_id, phone, email, user_id
        from kaoshi.student
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="StudentMap">
        select
          student_id, name, sex, birthday, class_id, phone, email, user_id
        from kaoshi.student
        <where>
            <if test="studentId != null">
                and student_id = #{studentId}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="sex != null and sex != ''">
                and sex = #{sex}
            </if>
            <if test="birthday != null and birthday != ''">
                and birthday = #{birthday}
            </if>
            <if test="classId != null">
                and class_id = #{classId}
            </if>
            <if test="phone != null and phone != ''">
                and phone = #{phone}
            </if>
            <if test="email != null and email != ''">
                and email = #{email}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="studentId" useGeneratedKeys="true">
        insert into kaoshi.student(name, sex, birthday, class_id, phone, email, user_id)
        values (#{name}, #{sex}, #{birthday}, #{classId}, #{phone}, #{email}, #{userId})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update kaoshi.student
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="sex != null and sex != ''">
                sex = #{sex},
            </if>
            <if test="birthday != null and birthday != ''">
                birthday = #{birthday},
            </if>
            <if test="classId != null">
                class_id = #{classId},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
        </set>
        where student_id = #{studentId}
    </update>

    <!--通过用户id修改数据-->
    <update id="updateByUser">
        update kaoshi.student
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="sex != null and sex != ''">
                sex = #{sex},
            </if>
            <if test="birthday != null and birthday != ''">
                birthday = #{birthday},
            </if>
            <if test="classId != null">
                class_id = #{classId},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
        </set>
        where user_id = #{userId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from kaoshi.student where student_id = #{studentId}
    </delete>



</mapper>